.editor-editor-canvas__post-title-wrapper,
.editor-visual-editor__post-title-wrapper {
    padding: 0 4rem 4rem !important;
    text-align: center;
}

.wp-block-post-title {
    text-align: center;
    font-size: 40px;
}
    